<div class="col-xs col-md-4">
    <div class="card card-light mb-3 mb-md-0 blog-card">
        <div class="card-body match-height">
            <div class="post-thumbnail">
                {{ if $.Params.image }}
                <img src="" alt="" />
                {{ else }}
                <img src="/images/octant-logo.png" alt="{{ $.Title }}" />
                {{ end }}
            </div>
            <article class="post">
                <h5 class="text-center font-weight-medium">
                    <a href="{{ .File.ContentBaseName }}/" class="post-title">{{ $.Title }}</a>
                </h5>
                <div class="post-entry">
                    {{ $.Params.excerpt }}
                </div>
            </article>
        </div>
    </div>
</div>